<h1 align="center">All users</h1>

<div class="create-btn" align="center">
  <%= link_to 'Create new user', new_user_registration_path, class: "btn btn-lg btn-success" %>
</div>

<% @users.each do |user| %>
  <div class="row">
    <ul class="listing">
      <div class="well col-md-12">
        <div class="col-xs-2 col-xs-offfset-2">
          <li><%= link_to image_tag(user.image.thumb.url, size: "150x150"), user_path(user) %></li>
        </div>
        <div class="col-xs-8">
          <li class="listname"><%= link_to "#{user.firstname + " " + user.lastname}", user_path(user) %></li>
        </div>
      </div>
    </ul>
  </div>
<% end %>