$navbar-default-bg: black;

#logo {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.listing {
	list-style: none;
}

.listname {
	font-size: 1.7em;
	font-weight: bold;
}

.create-btn {
	margin-bottom: 20px;
}

.user-img {
	margin-top: 40px;
	margin-bottom: 40px;
}

.btn-category {
  margin-bottom: 10px;
}

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.btn-bottom-right {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.glyphicon-size {
	font-size: 1.5em;
}

@import "bootstrap-sprockets";
@import "bootstrap";

