<h1 align="center">All receipts</h1>

<% current_user.receipts.each do |receipt| %>
  <% rname = receipt.bill %>
  <% path = receipt.bill %>
  <% rname = rname.split("_") %>
  <% time = rname[4].split(".") %>
  <div class="row">
    <div class="well col-md-12">
      <div class="col-md-4" align="left">
        <p class="listname"><%= "#{rname[3]} #{time[0]}" %></p>
      </div>
      <div class="col-md-offset-7 col-md-1">
        <% path = receipt.bill[7..-1] %>
        <%= link_to "view", path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>